@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 15px;
    line-height: 2;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    vertical-align: bottom;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 100%;
    height: 120px;
    margin: 0 auto;
}

.logo {
    margin: 50px 0 30px 50px;
}

.global-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.global-nav li {
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    font-family: 'Oswald', sans-serif;;
}

.global-nav li a {
    color: #000000;
}

.global-nav li a:hover {
    border-bottom: 2px solid #000000;
    padding-bottom: 3px;
    text-decoration: none;
}

.content {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    background-color: #a9a9a9;
}

footer small {
    font-size: 12px;
}

#index h1 {
    font-size: 90px;
    line-height: 1;
    color: #000000;
    font-family: 'Lobster', sans-serif;
    margin-bottom: 50px;
    text-align: center;
    border: none;
}

#index p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

#index .content span {
    font-size: 70px;
}

#index .content {
    margin-top: 120px;
    margin-left: 30%;
}

.btn a, .form button {
    background-color: #ff6347;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 185px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: 4px solid #ffffff;   
    margin-left: 80%;
}

.btn a:hover, .form button:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #ff6347;
    border-color: #ff6347;
    cursor: pointer;
}

#index .btn a {
    position: relative;
    top: 50%;
    margin: auto;
}

#index footer {
    background: none;
    width: 90%;
    margin: auto;
    padding-top: 150px;
    text-align: left;
    background-color: transparent;
}

#index footer small {
    color: #000000;
}

#index {
    background-image: url(../images/self-portrait.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#about, #portfolio, #qanda, #contact {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: 100% auto;
}

#wrap {
    background-color: #ffffff;
    padding: 35px 0;
}

#index #wrap {
    background-color: transparent;
    margin-top: 0;
    padding: 0;
}

.main-center {
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
}

.title {
    text-align: center;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

.icon:before {
    content: "";
    padding-right: 10px;
    border-left: 7px solid #008b8b;
}

.profile {
    display: flex;
    justify-content: space-between;
}

#about .profile-txt {
    width: 540px;
}

#about .profile-txt span {
    font-weight: bold;
}

#about .about-image {
    width: 35%;
    height: 35%;
    margin-top: 50px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.background {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 100px;
}

.background-table th {
    width: 135px;
    background-color: #a3d6cc;
    padding: 12px 0;
    border: 1px solid #478384;
}

.background-table td {
    width: 405px;
    padding: 12px 0 12px 40px;
    border: 1px solid #478384;
}

.background-table {
    width: 540px;
}

.background-image {
    width: 30%;
    height: 30%;
    margin-top: 70px;
}

#portfolio-txt {
    margin-left: 20px;
}

.top-page {
    display: flex;
    justify-content: space-between;
}

.top-page img:hover {
    opacity: 0.8;
    cursor: pointer;
}

#first {
    margin-top: 150px;
}

.site-details {
    text-align: center;
    padding-top: 100px;
    margin: 0 25%;
}

#portfolio .image-box img {
    width: 80%;
    display: block;
    margin: auto;

}

.portfolio-table tr {
    margin-bottom: 20px;
    display: block;
}

.portfolio-table th {
    width: 20%;
}

.portfolio-table td {
    width: 30%;
}

#portfolio .btn a {
    border: 2.5px solid;
    margin: 20% 25%;
}

.comment {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20%;
}

.comment img {
    width: 47%;
    margin-bottom: 30px;
}

.comment-txt {
    flex: 1;
    max-width: 640px;
    margin-left: 5%;
}

.summary {
    width: 70%;
    align-items: center;
    margin: 0 auto 10% auto;
    border: 3px solid #c0c0c0;
    padding: 2%;
}

.bold {
    font-weight: bold;
    font-size: 20px;
}

#qanda #wrap {
    height: 100vh;
}

.accordion {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f5f9;
}

.accordion:not([open]) {
    margin-bottom: 12px;
}

.accordion[open] {
    margin-bottom: 12px;
}

.accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #ff6347;
    color: #fff;
    font-weight: 550;
    cursor: pointer;
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion summary::before,
.accordion summary::after {
    width: 3px;
    height: .9em;
    border-radius: 5px;
    background-color: #fff;
    content: '';
}

.accordion summary::before {
    position: absolute;
    right: 2em;
    rotate: 90deg;
}

.accordion summary::after {
    transition: rotate .3s;
}

.accordion[open] summary::after {
    rotate: 90deg;
}

.accordion p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 1em 2em 2em 2em;
    color: #333;
    transition: transform .5s, opacity .5s;
    background-color: #dcdcdc;
}

.accordion[open] p {
    transform: none;
    opacity: 1;
}

summary:hover {
    background-color: #008b8b;
    cursor: pointer;
}

#contact-txt {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#contact-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact-img {
    width: 250px;
    height: 735px;
}

.form {
    width: 670px;
    background-color: #a2c4c9;
    padding: 30px 10px;
}

.form dl dt {
    width: 165px;
    padding: 10px 15px;
    float: left;
}

.form dl dd {
    padding: 10px 0;
}

.form .name, .form .tel {
    width: 240px;
    height: 30px;
}

.form .email {
    width: 300px;
    height: 30px;
}
 
.form .type {
    width: 180px;
    height: 30px;
}

.form .message {
    width: 430px;
    height: 150px;
}

.form button {
    width: 120px;
    margin-left: 195px;
}

.attention {
    margin-top: 50px;
    padding-left: 15px;
}

.form .required:after {
    content: " * ";
    color: #f00;
}

@media screen and (max-width:1100px) {
    body {
        font-size: 3.5vw;
    }

    h1 {
        font-size: 7.2vw;
    }

    h2 {
        font-size: 6vw;
    }

    header {
        width: auto;
        margin: 0 5%;
    }

    .logo {
        margin: 60px auto 0 auto;
        text-align: center;
    }

    .global-nav {
        margin: 40px auto 0 auto;
        text-align: center;
        justify-content: center;
    }

    .global-nav li {
        margin: 0 8px;
    }

    #wrap {
        margin-top: 40px;
        padding: 35px 0 0;
    }

    .content {
        max-width: 100%;
    }

    .main {
        width: auto;
        margin: 0 5%;
    }

    #index {
        background-image: url(../images/bg-self-portrait.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
        overflow-x: hidden;
    }

    #index .content {
        margin: auto;
    }

    #index footer {
        text-align: center;
    }

    #index h1 {
        margin-top: 250px;
        font-size: 15vw;
    }

    #index .content span {
        font-size: 10vw;
    }

    #about, #portfolio, #qanda, #contact {
        background-image: url(../images/bg-sea.jpg);
        overflow-x: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .profile {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #about .profile-txt {
        width: 90%;
        margin: auto;
    }

    #about .about-image {
        width: 80%;
        height: 50%;
        margin: auto;
        margin-bottom: 50px;
    }

    .background {
        flex-direction: column;
        justify-content: center;
    }

    .background-image {
        width: 80%;
        height: 50%;
        margin: auto;
        margin-bottom: 50px;
    }

    .background-table {
        margin: auto;
        width: fit-content;
        margin-bottom: 30px;
    }

    #about .background-table td {
        padding: 7px 0 7px 10px;
    }

    #portfolio p {
        margin: 0 5%;
    }

    .top-page {
        flex-direction: column;
    }

    #portfolio .top-page img {
        width: 90%;
        margin: 20% 5%;
    }

    #portfolio .image-box img {
        width: 90%;
        margin: 0 5%;
    }

    .site-details {
        margin: 0 5%;
    }

    .portfolio-table {
        text-align: left;
        padding-top: 20px;
    }

    #portfolio .btn a {
        margin: 30% 25%;
    }

    #qanda #wrap {
        height: fit-content;
    }

    #qanda .content {
        margin: 0 auto 20% auto;
    }

    .comment {
        flex-direction: column;
    }

    .comment img {
        width: 90%;
        margin: 0 5%;
        margin-bottom: 50px;
    }

    #contact-main {
        flex-direction: column;
    }

    #contact-txt {
        margin: 0 5%;
        margin-bottom: 50px;
    }

    #contact-img {
        width: 90%;
        height: 600px;
        margin: 0 5%;
    }

    #contact .form {
        width: 90%;
        margin: 50px 2%;
    }

    #contact .form .name, #contact .form .tel {
        width: 70%;
    }

    #contact .form .email {
        width: 90%;
    }

    #contact .form .message {
        width: 90%;
    }

    #contact .form button {
        margin: 0 10%;
    }
}
